
/* Agenda List View
------------------------------------------------------------------------*/

.fc-agenda-container {
    overflow-y:auto;
}

.fc-agenda-list-container {
    padding-bottom:5px;
    width:100%;
}

.fc-agenda-list-day {
    margin-top:5px;
}

.fc-agenda-list-container th {
    font-weight:bold;
    font-size:12px;
    width:100px;
    padding:0px 0 0 5px;
}

.fc-agenda-list-container td {
    font-weight:normal;
}

.fc-agenda-list-container a {
    text-decoration:none;
}

.fc-agenda-list-container a:hover {
    text-decoration:underline;
}

.fc-agenda-list-container .fc-event {
    cursor:pointer;
}

.fc-agenda-list-container .fc-event-skin {
    color:#36c;
    border-color:white;
    background-color:white;
}

.fc-agenda-date { text-align:left; }
.fc-agenda-time { width:120px; }